<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <div class="container-fluid">

        <a class="navbar-brand fw-bold" th:href="@{/}">TekkenReborn</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/players}">Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/players/create}">Create Player</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/fighters}">Fighters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/fighters/create}">Create Fighter</a>
                </li>
            </ul>

            <form class="d-flex me-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Player ID">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>

            <div class="d-flex align-items-center gap-2">
                <span sec:authorize="isAuthenticated()" class="text-white">
                    <span sec:authentication="name"></span>
                </span>

                <a sec:authorize="isAnonymous()" th:href="@{/login}" class="btn btn-outline-light btn-sm">Login</a>

                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" class="m-0">
                    <button type="submit" class="btn btn-outline-danger btn-sm">Logout</button>
                </form>
            </div>

        </div>
    </div>
</nav>

</body>
</html>