<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fighters</title>
</head>
<body>

<h2>Fighters List</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Health</th>
        <th>Damage</th>
        <th>Resistance</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="f : ${fighters}">
        <td th:text="${f.id}"></td>
        <td th:text="${f.name}"></td>
        <td th:text="${f.health}"></td>
        <td th:text="${f.damage}"></td>
        <td th:text="${f.resistance}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>