<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home</title>
</head>
<body>

<h1>Welcome</h1>

<a href="/">Home</a>
<a href="/players">Players</a>
<a href="/fighters">Fighters</a>

<div sec:authorize="hasRole('ADMIN')">
    <a href="/create-fighter">Create Fighter</a>
    <a href="/h2-console">H2 Console</a>
</div>

<div sec:authorize="isAuthenticated()">
    <a href="/logout">Logout</a>
</div>

<div sec:authorize="!isAuthenticated()">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>

</body>
</html>>