<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
    <div th:insert="fragments/base :: assetsHead"></div>
</head>
<body>

    <!-- Navigation bar -->
    <nav th:replace="fragments/navbar :: main-nav"></nav>

    <div class="container-center">
        <h2>Players List</h2>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="player : ${players}">
                    <td th:text="${player.id}">1</td>
                    <td th:text="${player.username}">username</td>
                    <td th:text="${player.name}">Name</td>
                    <td th:text="${player.email}">Email</td>
                    <td th:text="${player.role}">Role</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:insert="fragments/base :: assetsScripts"></div>
</body>
</html>